* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.partial-width-container {
  padding: 0 1rem;
}

.full-width-container {
  width:100%;
  max-width: none;
}

.code-background {
  background-color:#d8ede2;
}

.physical-background {
  background-color: #d8e7ed;
}

.general-nav-bar {
  margin-bottom: 2rem;
}

.home-title {
  text-align: center;
  margin-bottom: 2rem;
  width:100%;
  max-width: none;
}

.home-section {
  text-align: center;
  margin-bottom: 2rem;
  width:100%;
  max-width: none;
}

.background-section {
  text-align: center;
  margin-bottom: 2rem;
  width:100%;
  max-width: none;
}

.project-container {
  text-align: center;
  margin-bottom: 2rem;
  width:100%;
  max-width: none;
}